black==22.3.0
dash==2.3.1
dash-bootstrap-components==1.1.0
dash-daq==0.5.0
dataclasses==0.8
defusedxml==0.7.1
ecl==2.13.2
ecl2df==0.16.2
fmu-ensemble==1.5.1
fmu-tools==1.10.0
geojson==2.5.0
opm==2021.10
pandas==1.1.5
pillow==8.3.2
pyarrow==6.0.1
pyscal==0.9.0
scipy==1.5.4
statsmodels==0.12.2
webviz-config==0.3.9
webviz-config-equinor==0.2.3
webviz-core-components==0.5.7
webviz-subsurface==0.2.13
webviz-subsurface-components==0.4.12
xtgeo==2.18.0
